<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
	<STYLE TYPE="text/css">
		BODY {
			background-image: url(../assets/images/rhsolutions.jpg);
			background-attachment: fixed;
			background-size: 100% 100%;
		}
	</STYLE>
	<title>Rh Solutions</title>
</head>

<body>
	<header>
		<h1>
			<center>RH SOLUTIONS</center>
		</h1>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="/home">Home</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
								data-bs-toggle="dropdown" aria-expanded="false">
								Cadastro
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li><a class="dropdown-item" href="/formulario-cadastro">Funcionário</a></li>
								<!--<li><a class="dropdown-item" href="/editar-cadastro">Editar</a></li>
								<li>
									<hr class="dropdown-divider">
								</li>
								<li><a class="dropdown-item" href="#">Something else here</a></li>  -->
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/busca">Busca</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div th:if="${message ==  'SUCESSO'}" class="alert alert-success" role="alert">
		Compensação Cadastrada com SUCESSO!!!
	</div>

	<div th:if="${message ==  'EXISTENTE'}" class="alert alert-danger" role="alert">
		Salario mensal já existe na base de dados!!!
	</div>

	<div th:if="${message ==  'ERRO'}" class="alert alert-danger" role="alert">
		Erro ao processar a requisição!!!
	</div>

	</br>
	<div class="card container w-50 p-3 text-white" style="background-color: rgba(10,23,55,0.5);">
		<div class="card-body col-md-12" align="center">

			<p>
				<b>Cadastrar Compensação</b>
			</p>

			<div class="form-group" style="padding: 3px;">
				<label for="nome"> <b>Nome do Funcionário:</b></label>
				<input type="text" th:value="${actual.fullName}" class="form-control w-75 p-0" id="name"
					placeholder="Nome" required autocomplete="off">
			</div>

			<input id="position" th:value="${actual.position}" hidden />
			<form action="#" th:action="@{/salvar-compensacao/{id}(id=${actual.id})}" method="POST"
				th:object="${compensation}" id="formCadastro" name="formCadastro" onsubmit="return validarTudo();">

				<div class="form-group w-75 p-0" style="padding: 3px;">
					<label for="type"> <b>Tipo de Compensação:</b></label>
					<select onchange="validarCompensacao()" class="form-select form-select-sm"
						aria-label=".form-select-sm example" th:field="*{type}" id="type">
						<option th:value="Salario" th:selected th:text="Salário"></option>
						<option th:value="Bonus" th:text="Bônus"></option>
						<option th:value="Comissao" th:text="Comissão"></option>
						<option th:value="Subsidio" th:text="Subsídio"></option>
						<option th:value="Ajuste" th:text="Ajuste"></option>
					</select>
				</div>
				<div class="form-group" style="padding: 3px;">
					<label for="amount"> <b>Valor:</b></label>
					<input type="number" th:field="*{amount}" class="form-control w-75 p-0" id="amount"
						placeholder="Valor" required autocomplete="off">
				</div>
				<div class="form-group" style="padding: 3px;">
					<label for="description"> <b>Descrição:</b></label>
					<input type="text" th:field="*{description}" class="form-control w-75 p-0" id="description"
						placeholder="Descrição" required autocomplete="off">
				</div>
				<div class="form-group" style="padding: 3px;">
					<label for="date"> <b>Data:</b></label>
					<input type="month" th:field="*{date}" class="form-control w-75 p-0" id="date" required>
				</div>
				</br>
				<button class="btn btn-primary" type="submit">Salvar</button>
				<!--<button class="btn btn-primary" onclick="oi()">Salvar</button> -->
			</form>
		</div>
	</div>

	<script>

		function validarCompensacao() {
			tipo = document.getElementById("type").value;
			if (tipo == "Salario") {
				adicionarValores();
			}
			else {
				document.getElementById("amount").value = 0;
			}
		}

		function adicionarValores() {
			posicao = document.getElementById("position").value;
			if (posicao == "Administracao") {
				document.getElementById("amount").value = 2700;
			}
			else if (posicao == "Caixa") {
				document.getElementById("amount").value = 1900;
			}
			else if (posicao == "Estoquista") {
				document.getElementById("amount").value = 1500;
			}
			else if (posicao == "Gerente") {
				document.getElementById("amount").value = 3500;
			}
			else if (posicao == "Vendedor") {
				document.getElementById("amount").value = 2100;
			}

		}

		document.addEventListener("DOMContentLoaded", function () {
			adicionarValores();
		});


		function mascara(o, f) {
			v_obj = o
			v_fun = f
			setTimeout("execmascara()", 1)
		}

		function execmascara() {
			v_obj.value = v_fun(v_obj.value)
		}

		function mdata(v) {
			v = v.replace(/\D/g, "");
			v = v.replace(/(\d{2})(\d)/, "$1/$2");
			v = v.replace(/(\d{2})(\d)/, "$1/$2");
			v = v.replace(/(\d{2})(\d{2})$/, "$1$2");
			return v;
		}

		function validateDate() {
			let value = document.getElementById("birthDate").value;
			let newValue = value.split('-').reverse().join('/');

			var d = new Date;
			let ano_atual = parseInt(d.getFullYear());
			let mes_atual = parseInt(d.getMonth() + 1);
			let dia_atual = parseInt(d.getDate());

			let vAno = parseInt(newValue.slice(6));
			let vMes = parseInt(newValue.slice(3, 5));
			let vDia = parseInt(newValue.slice(0, 2));

			let quantos_anos = ano_atual - vAno;

			if (mes_atual < vMes) {
				quantos_anos--;
			}
			else if (dia_atual < vDia) {
				quantos_anos--;
			}

			return true;
		}

		// valida todos os campos
		function validarTudo() {
			// se um deles for inválido, retorna false e o form não é submetido
			return validateDate();
		}

	</script>

</body>

</html>